@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #FEFAE0;
}
.gradient-body{
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background: rgb(160,90,156);
    background: linear-gradient(139deg, rgba(160, 90, 156, 0.7959558823529411) 0%, rgb(131 116 217 / 80%) 66%, rgba(241, 242, 242, 1) 100%);
    height: 100vh;
}
.page-header {
    display: flex;
    padding: 8px;
    background-color: #4b3f72;
    justify-content: space-between;
    align-items: center;
    color:#FEFAE0;
    padding: 0 25px;
    margin-bottom: 8px;
}
.gradient-body .page-header{
    background-color: #f4f1fd;    
}

.gradient-body .page-header h1 {
    color: #4b3f72;
}

.gradient-body .page-header button{
    background-color: #5b5db1;
}
.header-buttons {
    display: flex;
    gap: 8px;
}
.gap-8 a:hover{
    color: #ac9dde;
}
.item-card{
    background-color: #b9afd9;
    border-radius: 6px;
    padding: 15px;
}
.item-card img{
    height: 200px;
    width: 150px;
    border-radius: 6px;
    border: 2px solid #FEFAE0;
}
.item-card p{
    font-size: 13px;
}
.catalogue-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 50px 0;
}

.header-buttons button {
    background-color: #1f2041;
    border-radius: 5px;
    padding: 10px 10px;  
    border:0px;
    height: 35px;
    color:white;
    cursor: pointer;
}

#login-button {
    background-color: #1f2041;
}
#login-button:hover {
    background-color: #15162d;
}

#sign-up-page-button {
    background-color: #5b5db1;
    padding: 10px;
    margin-top: 10px;
}
#sign-up-page-button:hover {
    background-color: #3f3561;
}
#existing-account-button{
    background-color: #f4f1fd;
    color: #4b3f72;
    width: 50%;
    padding: 5px;
}
#existing-account-button:hover{
    background-color: #dcd9e3;
}

#signup-button {
    background-color: #4b3f72;
}
#signup-button:hover {
    background-color: #3f3561;
}

.header-buttons button:hover {
    /* find an actual hover colour here */
    background-color: #4b3f72; 
}
.page-header h1 {
    color: white
}

.page-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
img {
    object-fit: cover;
}
.book {
    width: 60px;
}

.login-container {
    text-align: center;
    background-color: #f4f1fd;
    margin: auto;
    margin-top: 100px;
    width: 400px;
    padding: 25px;
    border-radius: 6px;
}

.login-container form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 25px;
}
.login-container form input{
    border-radius: 6px;
    padding: 5px;
    width: 80%;
}
.login-container form button{
    padding: 5px;
    width: 25%;
    border-radius: 5px;
    border:0px;
    color:white;
    cursor: pointer;
}

.sign-up-container {
    text-align: center;
    background-color: #f4f1fd;
    margin: auto;
    margin-top: 100px;
    width: 400px;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 4px 4px 2px 2px rgb(0 0 0 / 10%);
}
.sign-up-container form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.sign-up-container form input{
    border-radius: 6px;
    padding: 5px;
    width: 80%;
}
.sign-up-container form button{
    padding: 5px;
    width: 25%;
    border-radius: 5px;
    border:0px;
    color:white;
    cursor: pointer;
}
.sign-up-container h2, .login-container h2  {
    color: #4b3f72;
    font-size: 30px;
}


.dashboard-container{
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 40%;
    gap: 20px;
    overflow: hidden;
}

.recent-purchases{
    height: 300px;
    background-color: #1f2041;
    border-radius: 6px;
}
.revenue{
    height: 200px;
    background-color: #4b3f72;
    border-radius: 6px;
}
.pie-chart{
    height: 300px;
    background-color: #1f2041;
    border-radius: 6px;
}
.line-graph{
    height: 400px;
    background-color: #4b3f72;
    border-radius: 6px;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.filters-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 30px 30px;
    background-color: #4b3f72;
    color: white;
    border-radius: 6px;
    max-height: fit-content;
}

nav {
    display: flex;
        align-items: center;
    flex-direction: row;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}


nav a {
    color: white;
    text-decoration: none;
}


#login-page-email-field {
    
}