.search-results input{
    /*margin: auto;*/
    margin: auto;
    max-width: 305px;
    width: 70vw;
    min-width: 80%;
}

.search-sort-by {
    flex-direction: column;
    min-width: 100vw;
}
.container-centre {
    /*justify-content: flex-start;*/
    flex-direction: column;
}

.page-header {
    padding: 15px;
    height: 40px;
    overflow: hidden;
}

.gap-32 {
    margin: auto;
}

#login-button {
    /*padding: 3px;*/
    font-size: 8pt;
    width: 60px;
    height: 30px;
}

#signup-button {
    padding: 3px;
    font-size: 8pt;
    width: 60px;
    height: 30px;
}

.page-header h1 {
    font-size: 16pt;
    margin-left: 5px;
}

/*@media (max-width: 720px) {*/
/*    .filters-container {*/
/*        display:none;*/
/*    }*/
/*}*/

.search-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    max-width: 100%;
}

#dropdown{
    /*max-width: 168px;*/
    min-width: 44vw;
    margin: 5px;
}

.genres-button {
    min-width: 44vw;
    margin: 5px;
    background: #ffffffc4;
    box-shadow: 4px 4px 2px 2px rgb(0 0 0 / 10%);
    border-radius: 10px;
    height: 40px;
    padding: 10px;
    border: none;
}

.search-results {
    max-width: 100%;
    margin: auto;
    align-content: space-between;
    display: flex;
}

.item-card {
    width: 100%;
    max-width: fit-content;
}

.catalogue-container{
    margin-top: 8px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.filters-container {
    width: 100vw;
    margin: auto;
    margin-top: 15px;
    padding: 0 30px 30px 30px;
}

/*.filter-close {*/
/*    background: none;*/
/*    color: white;*/
/*    !*font-weight: bold;*!*/
/*    font-size: 1.5pc;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    box-shadow: none;*/
/*    border: none;*/
/*    margin: 15px;*/
/*}*/

.login-container{
    width: 300px;
}
.sign-up-container{
    width: 300px;
}

.display-filters {
    display: none;
}

/*@media (max-width: 720px) {*/
/*    .filter-dropdown {*/
/*        display:block;*/
/*    }*/
/*}*/

