@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined);



:root {
    --container-white: #ffffffc4;
    --button-purple: #5b5db1;
    --purple-background: rgb(131 116 217 / 80%);
    --dark-purple: #4b3f72;
    --gradient-bg: linear-gradient(139deg, rgba(160, 90, 156, 1) 0%, rgb(131 116 217 / 80%) 66%, rgba(241, 242, 242, 1) 100%);
    --box-shadow: 4px 4px 2px 2px rgb(0 0 0 / 10%);
}

/* Body styles */
.gradient-body, .non-gradient-body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    height: 100vh;
}

.gradient-body {
    background: var(--gradient-bg);
}

.non-gradient-body {
    background: var(--purple-background);
}
/* Body styles */

/* Header styles */
.page-header {
    display: flex;
    background-color: var(--dark-purple);
    justify-content: space-between;
    align-items: center;
    color:#FEFAE0;
    padding: 0 25px;
}

.gradient-body .page-header, .non-gradient-body .page-header{
    background-color: #f4f1fd;
}

.gradient-body .page-header h1, .non-gradient-body .page-header h1 {
    color: var(--dark-purple);
}

.gradient-body .page-header button, .non-gradient-body .page-header button{
    background-color: var(--button-purple);
}
/* Header styles */

/* classes : card, item-card, branch-card, container, input, dropdown  */

/* Button styles */
.button-p, .button-w, .button-r {
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.button-p {
    background: var(--button-purple);
    color: white;
}

.button-p:hover {
    background: var(--dark-purple);
}

.button-w {
    background: var(--container-white);
    color: var(--dark-purple);
}

.button-w:hover {
    background: lightgray;
}

.button-r {
    background: #d41212;
    color: white;
}

.button-r:hover {
    background-color: #b80909;
}
/* Button styles */

/* Input and dropdown styles */
dropdown {

}

.input {
    background: var(--container-white);
    padding: 5px;
    border: none;
    cursor: text;
    border-radius: 5px;
}

.input:focus {
    outline: none;
}
/* Input and dropdown styles */

/* Container styles */
.bg-white-container {
    text-align: center;
    background-color: var(--container-white);
    box-shadow: var(--box-shadow);
    margin: 100px auto auto;
    width: 400px;
    padding: 25px;
    border-radius: 6px;
}
/* Container styles */


.form-error{
    margin: 0;
    color: #d41212;
}

.container-centre {
    display: flex;
    justify-content: center;
}

.container-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    /*justify-content: center;*/
    padding: 16px;
    gap:32px;
}
.container-row-reverse > div {
    display: flex;
    flex-direction: column;
    gap:8px;
    width: 100%;
}

h1 a {
    text-decoration: none;
}
a{
    color: var(--dark-purple);
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 0;
}

.add-new-button {
    display:flex;
    align-items: center;
    background-color: #f4f1fd;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 15px;
}
.gap-8 a:hover{
    color: #ac9dde;
}
.item-card,.reservation-card,.sale-card,.branch-card,.create-branch-card{
    background-color: var(--container-white);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 4px 4px 2px 2px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-between;
}
.item-card{
    max-width: 200px;
    min-width: 200px;
    height: 400px;
    flex-direction: column;
}
.item-link{
    text-decoration: none;
    color: #3f3561;
}
.item-card img{
    height: 200px;
    width: 150px;
    border-radius: 6px;
    border: 2px solid #FEFAE0;
}
.item-card p{
    font-size: 13px;
}
table {
    border-collapse: collapse;
    border: 1px solid;
}
tbody tr:nth-child(odd) {
    background-color: rgb(183, 177, 232);
}

tbody tr:nth-child(even) {
    background-color: rgb(146, 143, 198);
}

tbody tr:hover {
    background-color: rgb(84, 74, 170);
}

.item-card h3 {
    overflow: hidden;
}

.catalogue-container{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    gap: 30px;
    /*margin: 30px 30px 0 30px;*/
}

/* searchbar */
#search-catalogue {
    height: 30px;
    padding: 5px 20px;
    min-width: 50%;
    width: 55vw;
    margin-right: 30px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.search-results input:focus {
    outline: none;
}

#search-button {
    box-shadow: 4px 4px 2px 2px rgb(0 0 0 / 10%);
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

.search-sort-by{
    display: flex;
    gap: 32px;
    justify-content: flex-start;
}

#dropdown {
    background: var(--container-white);
    box-shadow: 4px 4px 2px 2px rgb(0 0 0 / 10%);
    border-radius: 10px;
    height: 40px;
    padding: 10px;
    border: none;
}
#reserve-dropdown{
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    border: none;
}
#reservations-error{
    font-size: 20px;
    font-weight: bold;
}
.reservations-container{
    max-width: 70vw;
    margin: auto;
}

.reservations-container h1 {
    color: var(--dark-purple);
    margin: 50px 0;
}

.reservations-container h2 {
    color: var(--dark-purple);
    margin: 0;
}

.reservation-card p {
    font-size: large;
}

.reserved-book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.reservation-card {
    margin-bottom: 30px;
}

.reservation-card img {
    max-height: 300px;
    margin: 5px;
}
.sale-container{
    max-width: 70vw;
    margin: auto;
}
.sale-container h1{
    color: var(--dark-purple);
    margin: 50px 0;
}
.sale-container h2 {
    color: var(--dark-purple);
    /*margin: 0;*/
}
.sale-card{
    margin-bottom: 30px;
    width: 70vw;
    flex-direction: column;
}

.sale-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sale-header a {
    text-decoration: none;
    color: var(--button-purple);
}

.sale-header a:visited{
    text-decoration: none;
}

.sale-and-date {
    display: flex;
    align-items: center;
}

.sale-and-date h2 {
    margin-right: 25px;
}

.sale-book-info-pair {
    display: flex;
    justify-content: space-between;
}
#account-container{
    width: 50vw;
}
#account-container input{
    height: 25px;
    width: 150px;
}


.branch-container,.create-branch-container{
    color: var(--dark-purple);
    width: 60vw;
    margin:auto;
}
.create-branch-container{
    width: 25vw;
}

.branch-container h1{
    color: var(--dark-purple);
}
.create-branch-container h1{
    margin-top:10px;
}
.branch-card,.create-branch-card{
    margin-bottom: 30px;
    flex-direction: row;
    align-items: center;
}
.create-branch-card{
    margin-top: 20px;
    max-width: 25vw;
    flex-direction: column;
}

.branch-input-field{
    display: flex;
    justify-content: space-between;
    margin:  10px;
    align-items: center;
}
.branch-input-field input {
    width: 60%;
    padding: 5px;
}
/*.space-between {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin: 5px 0;*/
/*}*/

#edit-branch-container {
    width: 30vw;
}

#edit-branch-container h1 {
    color: var(--dark-purple);
}

#edit-branch-container input, #edit-branch-container dropdown{
    height: 25px;
    width: 200px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

.space-between {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    width: 100%;
    align-items: center;
}


.account-info{
    display: flex;
    justify-content: center;
}

.profile-container{
    margin: 15px;
    width: 40%;
    display: grid;
}

.update-password-container{
    margin: 15px;
    width: 50%;
    height: 100%;
    display: grid;
}

#dropdown:hover {
    background-color: lightgray;
    cursor: pointer;
}

#dropdown:focus {
    outline: none;
}

.search-count {
    color: var(--dark-purple);
    font-weight: bold;
    font-size: 20px;
}

#sort-by:focus {
    outline: none;
}

#search-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#login-button, #signup-button {
    cursor: pointer;
    width: 70px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
}

#login-button {
    background-color: var(--button-purple);
    color: white;
}
#login-button:hover {
    background-color: #3f3561;
}
#signup-button {
    background: none;
    color: var(--button-purple);
}
#signup-button:hover {
    background-color: lightgray;
}

#edit-create-button,#edit-create-button-branch {
    padding: 15px 30px 15px 30px;
    width: 100%;
    margin-top: 40px;
}
#edit-create-button-branch{
    margin-top: 20px;
}


.form-link{
    color: var(--dark-purple);
    padding: 5px;
}
.form-link:hover{
    background-color: #dcd9e3;
}
#form-button{
    margin-top: 10px;
    border-radius: 5px;
    width: 25%;
}
#profile-button{
    margin-top: 10px;
    width: 50%;
    height: 35px;
}

#delete-profile-button {
    margin-top: 10px;
    width: 10vw;
    height: 40px;
}


.form-input {
    width: 80%;
}

#book-container{
    color: var(--button-purple);
    margin: 30px;
    width: 25%;
    max-width: 600px;
}

#book-container h1{
    text-align: center;
    margin-bottom: 35px;
}
.book-input-field{
    display: flex;
    justify-content: space-between;
    margin:  10px;
    align-items: center;
}

.book-input-field input {
    width: 60%;
    padding: 5px;
}

.header-buttons button:hover {
    /* find an actual hover colour here */
    background-color: var(--dark-purple);
}
.page-header h1 {
    color: white
}

.page-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
img {
    object-fit: cover;
}
.book {
    width: 60px;
}

.edit-inventory-item-form {
    margin: 10px;
    width: 42%;
}

.back-link {
    padding: 3px;
    color: var(--button-purple);
    text-decoration: none;
}

.back-link:hover {
    background: lightgray;
}

.back-link:visited {
    text-decoration: none;
    color: var(--button-purple);
}

#edit-inventory-item-container {
    padding: 15px;
    width: 600px;
}

#branch-selection-dropdown {
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#login-container form, #sign-up-container form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 25px;
}
#login-container form input, #sign-up-container form input{
    border-radius: 6px;
    padding: 5px;
    width: 80%;
}

#sign-up-container h2, #login-container h2  {
    color: var(--dark-purple);
    font-size: 30px;
}

.book-page{
    display: flex;
    justify-content: center;
    margin: 0px 70px 0px 70px;
}

.book-cover{
    /*background-color: var(--container-white);*/
    width: fit-content;
    max-width: 400px;
    height: 100%;
    /*padding: 20px;*/
    margin: 25px 0 25px 25px;
    align-content: center;
}

.book-cover img {
    max-height: 550px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.book-info-container{
    width: 40%;
    max-width: 500px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}


.book-info{
    background-color: var(--container-white);
    border-radius: 10px;
    padding: 0px 25px;
    margin: 10px;
    box-shadow: var(--box-shadow);
}
#reserve-container {
    padding: 15px 25px;
    margin-top: 50px;
}
#reserve-container button {
    background-color: var(--button-purple);
    height: 35px;
}

.text-input-field{
    width: 35px;
    border-radius: 10px;
    height: 30px;
    border: none;
    /*background: none;*/
    padding-left: 10px;
}
#reserve-container-inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#book-title {
    font-weight: bold;
    color: var(--dark-purple);
    font-size: larger;
}

.stock-info {
    display: flex;
    flex-direction: row;
}

.stock-info .book-info {
    width: 100%;
}
.paragraph-truncate {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.text-right {
    text-align: right;
}

td {
    padding: 4px;
}

.inventory-panes {
    display: flex;
    flex-direction: row;
    gap: 8px;
    background-color: #f4f1fd;
    margin:auto;
}

.branch-tables {
    width: 100%;
}

.inventory-book-pane {
    width: 100%;
}

.inventory-table {
    width: 100%;
}

.inventory-inputs {
    display: flex;
    flex-direction: row;
}

.inventory-inputs input{
    height: 40px;
    border-radius: 5px;
    margin-left: 15px;
}

.inventory-header,.book-inventory-header {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
}
.book-inventory-header h1{
    color: var(--dark-purple);
}
.book-inventory-header{
    margin:auto;
    width:90vw;
}

.branches-dropdown > *{
    background: none;
    font-size: 30px;
    font-weight: bolder;
    height: 40px;
    border: none;
    padding-right: 15px;
}

#edit_button, #delete_button{
    text-decoration: none;
    color: #18181b;
}
#edit_button:hover, #delete_button:hover, .icon:hover{
    color: #8486bd;
}
table {
    overflow-y: scroll;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.flex-horizontal-spaced {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filters-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 30px 0 30px;
    background-color: var(--dark-purple);
    color: white;
    border-radius: 6px;
    max-height: fit-content;
    height: fit-content;
    max-width: 200px;
    min-width: 200px;
    padding-bottom: 20px;
}

.filters-container input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 10px;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 32px;
}

.gap-32 {
    gap: 32px;
}

.gap-16 {
    gap: 16px;
}

nav a, .header-buttons a {
    color: var(--dark-purple);
    text-decoration: none;
}

.display-filters {
    display: flex;
}
.display-catalogue {
    display: flex;
}

@media (min-width: 720px) {
    .genres-button {
        display:none;
    }
}

@media (max-width: 720px) {
    .book-cover {
        display: none;
    }
}
@media (max-width: 720px) {
    .book-cover-reservation{
        display: none;
    }
}
@media (max-width: 720px) {
    .mobile-hr{
        display: none;
    }
}

.caps {
    text-transform: uppercase;
}

.sidebar-body{
    display: flex;
    flex-direction: row;
}

/* DASHBOARD */
.dashboard{
    display: flex;
    flex-direction: row;
}
.dashboard-sidebar{
    background-color: #1a202c;
    color: #cbd5e0;
    height: 100%;
    min-height: 100vh;
}
.dashboard-branch-info{
    font-weight: bold;
    font-size: 19px;
    padding: 15px;
}
.dashboard-branch-info select{
    padding: 5px;
    border-radius: 5px;
    background-color: #f4f1fd;
    width: 100%;
    font-size: 17px;
}
.dashboard-sidebar-links{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 3px;
}

.dashboard-sidebar-links a {
    display:flex;
    flex-direction: row;
    gap: 15px;
    background-color: #242a3e;
    color: #cbd5e0;
    padding: 15px;
    text-decoration: none;
}

.dashboard-sidebar-links a:hover {
    background-color: #695aa0;
}
.dashboard-body{
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 15.5% 10.5% 45%;
    gap: 15px;
    height: 100%;
    width: 100%;
}
.dashboard-containers{
    background-color: #f4f1fd;
    border-radius: 20px;
    padding: 20px;
}
.dashboard-container-content{
    font-size: 18px;
}
.dashboard-containers h2{
    margin: 0;
}
#reservation-activity-container{
    grid-area: 1 / 1 / 2 / auto;
}
.reservation-activity-container-item{
    text-align: center;
}
.res-number{
    font-size: 36px;
    font-weight: bold;
}
#pending-res-h1{
    color: #e9be3d;
}
#collected-res-h1, #in-stock-h2{
    color: #2cbc62;
}
#out-stock-h2{
    color: #e3533f;
}
.reservation-activity-container-item p{
    display: flex;
    align-items: center;
}
.reservation-activity-container-item > *{
    margin: 0;
}
#reservation-activity-container-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0;
}
#top-sellers-container{
    grid-area: 1 / 2 / 3 / auto;
}
.top-selling-item{
    max-width: 20%;
    text-align: center;
}
.top-selling-item a{
    text-decoration: none;
    color: black;
}
.top-selling-item a:hover{
    text-decoration: underline;
}
.top-selling-item img{
    width: 100px;
    border-radius: 5px;
}
#inventory-summary-container{
    grid-area: 2 / 1 / 4 / auto;
}
#inventory-summary-container-items{
    padding-left: 30px;
    width: 100%;
}
.inventory-summary-container-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.inventory-summary-container-item span, .purchase-sale-number{
    font-size: 30px;
    font-weight: bold;
}
.prefix-dots{
    display: flex;
    flex: 1;
    align-items: center;
}
.prefix-dots:before{
    content: '';
    border-bottom: 2px dotted black;
    flex: 1;
    margin: 0 10px;
}
#purchase-sales-container{
    grid-area: 4 / 1 / 5 / auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
}
.purchase-sale-header{
    text-align: center;
}
.purchase-sale-data{
    display: flex;
    text-align: center;
    gap: 40px;
}
.purchase-sale-number{
    color: #9b8fe0;
}
#chart{
    grid-area: 3 / 2 / 5 / auto;
}

.icon {
    background: none;
    border: none;
    cursor: pointer;
}
